// BORDER

$border-width: 1px;
$border-color: rgb(255, 255, 255, 0.15);

// LAYOUT

$toolbar-top-height: 40px;
$toolbar-details-height: 60px;

$tracklist-width: 280px;
$timeline-header-height: 40px; 

$track-height: 70px;
