// BORDER

$border-width: 1px;
$border-color: rgb(255, 255, 255, 0.15);

// LAYOUT

$toolbar-top-height: 40px;
$toolbar-details-height: 60px;

$left-padding: 16px;

$tracklist-width: 280px;
$viewport-header-height: 40px; 

$track-height: 70px;

$cabnet-closed-height: 40px;
$cabnet-open-height: 400px;

$cabnet-midi-editor-info: 200px;
$cabnet-instrument-selector: 300px;