@use "theme" as *;

.page-container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

.appbar {
	padding-left: $pad-ends;
	padding-right: $pad-ends;
	background: $appbar-bg;
	color: $appbar-text;

	z-index: 1000;

	.nav {
		display: flex;
		gap: 8px;
		padding-left: 16px;

		.nav-btn {
			background: $appbar-accent-1;
			color: $appbar-text !important;
			transition: background 0.2s;
		}
	}

	.spacer {
		flex: 1 1 auto;
	}

	.profile-picture-button {
		border-radius: 50%;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $appbar-text;
	}

	span {
		color: $appbar-text;
	}

}

.page-content {
	display: flex;
	flex: 1;
	min-height: 0;
	width: 100vw;

	overflow-y: scroll;

	router-outlet {
		display: contents; // Makes router-outlet "disappear" from layout
	}
	
	::ng-deep > * {
		width: 100%;
		flex: 1;
	}

	&::-webkit-scrollbar {
		width: 8px; // Width of the scrollbar
		height: 8px; 
	}
	&::-webkit-scrollbar-track {
		background: $app-bg-l; // Track background
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb {
		background: $app-bg-ll; // Thumb color
		border-radius: 10px;
		
		&:hover {
			background: $near-white; // Hover color
		}
	}
	&::-webkit-scrollbar-corner {
		background: transparent; // Corner where scrollbars meet
	}

}


::ng-deep .user-settings-menu {
	background: $appbar-bg !important;
	border-radius: 0px !important;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.user-settings-menu-content {
	background: $appbar-bg;
	display: flex;
	flex-direction: column;
	
	.user-settings-menu-btn {
		height: 30px;

		font-size: 14px;
		font-weight: 500;
		color: $appbar-text !important;
		background: transparent;
		border: 1px solid transparent;
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.2s ease;
		display: flex;
		align-items: center;
		justify-content: left;

		&:hover {
			background: $appbar-accent-1;
			border-color: $appbar-accent-1;
		}
	}
}