// COLORS --------------------------------------------------------

// app

$app-bg:     		rgb(26, 28, 35);
$app-bg-l: 			rgb(51, 54, 68);
$app-bg-ll: 		rgb(73, 79, 97);
$app-bg-lll: 		rgb(119, 128, 158);

// design

$accent-yellow:     rgb(138, 228, 151);
$accent-yellow-l:   rgb(175, 230, 183);

$accent-orange:     rgb(119, 221, 226);
$accent-orange-l:   rgb(172, 221, 223);

$accent-pink:       rgb(160, 165, 239);
$accent-pink-l:     rgb(189, 192, 234);

$accent-purple:     rgb(181, 144, 239);
$accent-purple-l:   rgb(210, 191, 240);

$night-purple: 		rgb(57, 40, 69);
$night-blue: 		rgb(37, 42, 53);

$near-white: 		rgb(237, 245, 252);

// appbar

$appbar-bg:         rgba(38, 36, 49, 1);
$appbar-bg-l:       rgba(48, 45, 62, 1);
$appbar-accent-1:   rgba(54, 51, 68, 1);
$appbar-accent-2:   rgba(74, 70, 94, 1);
$appbar-accent-3:   rgb(91, 85, 118);
$appbar-text:       rgba(208, 199, 212, 1);

$sidebar-bg:        rgb(22, 17, 27);

// LAYOUT --------------------------------------------------------

$pad-ends: 150px;