// COLORS --------------------------------------------------------

// app

$app-bg:     		rgb(29, 26, 35);
$app-bg-l: 			rgb(70, 66, 79);
$app-bg-ll: 		rgb(112, 106, 125);
$app-bg-lll: 		rgb(142, 134, 157);

// design

$accent-yellow:     rgb(228, 213, 138);
$accent-yellow-l:   rgb(231, 226, 202);

$accent-orange:     rgb(226, 171, 119);
$accent-orange-l:   rgb(241, 212, 185);

$accent-pink:       rgb(239, 160, 220);
$accent-pink-l:     rgb(240, 204, 232);

$accent-purple:     rgb(181, 144, 239);
$accent-purple-l:   rgb(210, 191, 240);

$night-purple: 		rgb(57, 40, 69);
$night-blue: 		rgb(37, 42, 53);

$near-white: 		rgba(235, 235, 235, 1);

// appbar

$appbar-bg:         rgba(38, 36, 49, 1);
$appbar-bg-l:       rgba(48, 45, 62, 1);
$appbar-accent-1:   rgba(54, 51, 68, 1);
$appbar-accent-2:   rgba(74, 70, 94, 1);
$appbar-accent-3:   rgb(91, 85, 118);
$appbar-text:       rgba(208, 199, 212, 1);

$sidebar-bg:        rgb(22, 17, 27);

// LAYOUT --------------------------------------------------------

$pad-ends: 150px;