// COLORS

$app-bg:     		rgb(29, 26, 35);
$sidebar-bg:        rgb(22, 17, 27);

$accent-yellow:     rgb(228, 213, 138);
$accent-yellow-l:   rgb(231, 226, 202);

$accent-orange:     rgb(226, 171, 119);
$accent-orange-l:   rgba(241, 212, 185, 1);

$accent-pink:       rgba(239, 160, 220, 1);
$accent-pink-l:     rgba(240, 204, 232, 1);

$accent-purple:     rgba(181, 144, 239, 1);
$accent-purple-l:   rgba(210, 191, 240, 1);

$appbar-bg:         rgba(38, 36, 49, 1);
$appbar-bg-l:       rgba(48, 45, 62, 1);
$appbar-accent-1:   rgba(54, 51, 68, 1);
$appbar-accent-2:   rgba(74, 70, 94, 1);
$appbar-accent-3:   rgb(91, 85, 118);
$appbar-text:       rgba(208, 199, 212, 1);

// SPACES

$pad-ends: 150px;