@use "theme" as *;	
@use "../../../studio-vars" as *;

.timeline {
	.tracks {
		width: 100%;
		height: auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: min-content;

		align-items: start;

		.track {
			height: $track-height;
			position: relative;

			padding-left: 0px;
			padding-right: 0px;
			padding-top: 8px;
			padding-bottom: 8px;
			box-sizing: border-box;
			margin: 0;

			transition: all 0.2s;
			display: flex;
			flex-direction: row;

			background-color: transparent;
			border-bottom: $border-width solid rgba($border-color, 0.07);
		}
	}
}