@use "theme" as *;

.toolbar {
	background: $appbar-bg-l;
	color: $appbar-text;
	height: 60px;
	position: sticky;
	top: 0;
	z-index: 1000;
	width: 100%;
	box-sizing: border-box;
	padding-left: 16px;
	padding-right: 8px;
	align-items: center;
	gap: 20px;
}