@use "theme" as *;
@use "../../studio-vars" as *;

.toolbar {
	background: $appbar-bg-l;
	color: $appbar-text;
	height: $toolbar-details-height;
	position: sticky;
	top: 0;
	z-index: 500;
	width: 100%;
	box-sizing: border-box;
	padding-left: 16px;
	padding-right: 8px;
	align-items: center;
	gap: 20px;

	border-bottom: $border-width solid $border-color;
}