@use "theme" as *;

.sidenav-container {
	height: calc(100vh - 64px);
	background: $app-bg;
}
mat-sidenav { 
	width: 400px;
	padding-left: 150px !important; 
	padding-top: 0px !important;
}
mat-nav-list {
	padding-top: 20px !important;

}
.sidebar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 10px; 
	padding-left: $pad-ends;
	background: $sidebar-bg;
	border-radius: 0;
}
.sidebar-btn {
	gap: 8px;
	justify-content: flex-start; 
	text-align: left;

	background: $accent-orange;
	color: $app-bg;
	transition: background 0.2s;

	margin-bottom: 8px;
	width: 200px;
}
.sidebar-btn[routerLinkActive].sidebar-btn-active {
	background: #fff !important;
	font-weight: bold;
}
.sidebar-btn:hover {
	background: $accent-orange-l !important;
}

.sidebar-btn2 {
	gap: 8px;
	justify-content: flex-start; 
	text-align: left;

	background: $accent-purple;
	color: $app-bg;
	transition: background 0.2s;

	//margin-top: 24px;
	width: 200px;
}
.sidebar-btn2:hover {
	background: $accent-purple-l !important;
}

.projects-content {
	background: $app-bg;
	height: 100%;
	overflow-y: auto;
	margin-right: $pad-ends;
	padding: 0px;

	&::-webkit-scrollbar {
		width: 8px; // Width of the scrollbar
	}
	
	&::-webkit-scrollbar-track {
		background: $app-bg-l; // Track background
		border-radius: 10px;
	}
	
	&::-webkit-scrollbar-thumb {
		background: $app-bg-ll; // Thumb color
		border-radius: 10px;
		
		&:hover {
		background: $near-white; // Hover color
		}
	}
	
	&::-webkit-scrollbar-corner {
		background: transparent; // Corner where scrollbars meet
	}
}