@use "theme" as *;
@use '@angular/material' as mat;

// Styles using variables
html, body {
	height: 100%;
}

body {
	margin: 0;
	background: $app-bg;
}

.app-content-bg {
	background: $app-bg;
	min-height: 100vh;
}


* :not(.material-icons):not(.material-symbols-outlined){
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif !important;
}