/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
	margin: 0; 
	font-family: Roboto, "Helvetica Neue", sans-serif; 
	background: rgba(29, 26, 35, 1); /* defined as APP_BG in theme.ts */
}
.app-content-bg {
	background: rgba(29, 26, 35, 1); /* defined as APP_BG in theme.ts */
	min-height: 100vh;
}
