@use "theme" as *;	
@use "../../../../../studio-vars" as *;

.region {
	--colorBase: white;
	--colorBg: color-mix(in hsl, var(--colorBase) 70%, black 30%);
  	--colorHover: color-mix(in hsl, var(--colorBg) 85%, white 15%); 

	display: flex;
	flex: 1 1 auto;
	flex-direction: row;

	position: absolute;
	top: 0;
	height: 100%;
	z-index: 1000;

	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: antiquewhite;
	
	background-color: var(--colorBg);
	&:hover {
		background-color: var(--colorHover);
	}

	.canvas-div {
		width: 100%;
		height: 100%;
		background: none;
	}
	.canvas {
		width: 100%;
		height: 100%;
		background: none;
	}
  
	.resize-handle {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 8px;
		background: transparent;
		cursor: ew-resize;
		z-index: 10;
		
		&.resize-handle-left {
			left: 0;
		}
		
		&.resize-handle-right {
			right: 0;
		}
		
		&:hover {
			background: rgba(255, 255, 255, 0.3);
		}
	}
}


::ng-deep .region-menu {
	background: $appbar-bg;
	border: $border-width solid $border-color !important;
	border-radius: 0px !important;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex: 1 0 auto;

	max-height: none !important;
	overflow: visible !important;
	padding: 0px 8px !important;
}
.region-menu-content {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	
	.region-menu-btn {
		height: 30px;
		box-sizing: border-box;

		font-size: 14px;
		font-weight: 500;
		color: $appbar-text !important;
		background: transparent;
		border: 1px solid transparent;
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.2s ease;
		display: flex;
		align-items: center;
		justify-content: left;

		gap: 8px;

		&:hover {
			background: $appbar-accent-1;
			border-color: $appbar-accent-1;
		}
	}
}
.divider {
	border-width: 2px !important;
	border-color: $appbar-accent-1 !important;
}