@use "theme" as *;
@use "./../../../studio-vars" as *;

::ng-deep .key-menu {
	display: flex;
	padding: 8px !important;
	background: $appbar-bg-l !important;
	border: $border-width solid $border-color !important;
	border-radius: 0px !important;
}
.key-menu-btn {
	display: flex;
	align-items: center;
	justify-content: left;

	height: 40px;
	width: 70px !important;
	max-width: 70px !important;

	background: $appbar-accent-2;
	color: $appbar-text;
	border-radius: 20px;
	border: none;

	cursor: pointer;
	transition: all 0.2s ease;

	sup {
		vertical-align: super;
		line-height: 0;
	}

	&:hover {
		background: $appbar-accent-3;
	}
	
}



.key-type-toggle {
	display: flex;
	gap: 8px;
	margin-bottom: 16px;
}

.key-type-toggle button.selected {
	background: $accent-orange;
	color: $appbar-bg-l !important;
}
.key-type-btn {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 8px 12px;
	border: none;
	color: $accent-orange !important;
	cursor: pointer;
	border-radius: 8px;
	transition: background-color 0.1s;
	background: transparent; 
	box-shadow: 0 0 0 2px $accent-orange inset; 

	&:hover 	{ 
		background: $accent-orange-l !important; 
		color: $appbar-bg-l !important;
	}
}


.key-grid {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.accidentals-row, .naturals-row {
	display: flex;
	flex-direction: row;
	gap: 4px;
}
.key-opt-space {
	width: 32px; 
}
.key-opt-space-half {
	width: 15px; /* idk why 16 isnt centered */
}

.key-option {
	width: 32px;       
	height: 32px;
	min-width: 32px;      
	min-height: 32px;
	max-width: 32px;
	max-height: 32px;

	padding: 0 0;    
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;

	line-height: 1;
	border: 2px solid $appbar-accent-2;
	border-radius: 8px;

	background: $appbar-accent-1;
	color: $accent-orange;
	border-color: $appbar-bg;

	&.selected {
		background: $accent-orange-l;
		color: $appbar-bg-l;
		border-color: $accent-orange;
	}

	&:hover {
		background: $appbar-accent-2;
		color: $accent-orange;
	}

	sup {
		vertical-align: super;
		line-height: 0;
	}
}
